<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>image</key>
	<string>arrowpad_gray.png</string>
	<key>image_highlight</key>
	<string>arrowpad_blue.png</string>
	<key>buttons</key>
	<array>
		<dict>
			<key>id</key>
			<string>Next</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>14</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>87</integer>
			<key>action</key>
			<string>[F2]</string>
		</dict>
		<dict>
			<key>id</key>
			<string></string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>14</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>87</integer>
			<key>action</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<string></string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>14</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>87</integer>
			<key>action</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<string></string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>101</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<string>Execute</string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>101</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string>[F5]</string>
		</dict>
		<dict>
			<key>id</key>
			<string></string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>101</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<string></string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<string></string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<string>Previous</string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string>[F1]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>ToggleInterpreter</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>67</integer>
			<key>action</key>
			<string>[F4]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>ToggleBottom</string>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>67</integer>
			<key>action</key>
			<string>[F3]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>ZoomIn</string>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>67</integer>
			<key>action</key>
			<string>[F8]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>ZoomOut</string>
			<key>x</key>
			<integer>235</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>67</integer>
			<key>action</key>
			<string>[F7]</string>
		</dict>
	</array>
</dict>
</plist>
