<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>image</key>
	<string>arrowpad_gray.png</string>
	<key>image_highlight</key>
	<string>arrowpad_blue.png</string>
	<key>buttons</key>
	<array>
		<dict>
			<key>id</key>
			<string>Prev</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>14</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>87</integer>
			<key>action</key>
			<string>[UP]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Up</string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>14</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>87</integer>
			<key>action</key>
			<string>[UP]</string>
		</dict>
		<dict>
			<key>id</key>
			<string></string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>14</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>87</integer>
			<key>action</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<string>Left</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>101</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string>[LEFT]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Enter</string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>101</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string>[ENTER]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Right</string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>101</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string>[RIGHT]</string>
		</dict>
		<dict>
			<key>id</key>
			<string></string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string></string>
		</dict>
		<dict>
			<key>id</key>
			<string>Down</string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string>[DOWN]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Next</string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string>[DOWN]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Black</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>67</integer>
			<key>action</key>
			<string>[b]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>White</string>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>67</integer>
			<key>action</key>
			<string>[w]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Resume</string>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>67</integer>
			<key>action</key>
			<string>[SHIFT+F5]</string>
			<key>action_mac</key>
			<string>[CTRL+SHIFT+b]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Esc</string>
			<key>x</key>
			<integer>235</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>67</integer>
			<key>action</key>
			<string>[ESC]</string>
		</dict>
	</array>
</dict>
</plist>
